<footer class="footer">
  <small>
    <%= link_to t("name_link"), Settings.footer.footer_link%> <%= t ".ror" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t("english"), locales: "en" %></li>
      <li><%= link_to t("vietnam"), locales: "vi" %></li>
    </ul>
  </nav>
</footer>
